
.container-equipe{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 247, 237);
}
.equipe-cards-container{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.equipe-cards-1{
    position:relative;
    width: 270px;
    height: 400px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    background-color: #012F47 ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    margin-top: 10%;
}
.equipe-cards-1:hover{
    background-color: rgb(255, 255, 255);
    scale: 1.2;
    transition: scale 0.3s ease-in-out;

}
.equipe-cards-2{
    position:relative;
    width: 270px;
    height: 400px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    background-color: #012F47 ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
}
.equipe-cards-2:hover{
    background-color: rgb(255, 255, 255);
    scale: 1.2;
    transition: scale 0.3s ease-in-out;

}
.equipe-cards-3{
    position:relative;
    width: 270px;
    height: 400px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    background-color: #012F47 ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    margin-top: 10%;
}
.equipe-cards-3:hover{
    background-color: rgb(255, 255, 255);
    scale: 1.2;
    transition: scale 0.3s ease-in-out;

}
.equipe-cards-4{
    position:relative;
    width: 270px;
    height: 400px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    background-color: #012F47 ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;

}
.equipe-cards-4:hover{
    background-color: white;
    scale: 1.2;
    transition: scale 0.3s ease-in-out;
}
.equipe-cards-5{
    position:relative;
    width: 270px;
    height: 400px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 8px;
    background-color: #012F47 ;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    margin-top: 10%;
}
.equipe-cards-5:hover{
    background-color: rgb(255, 255, 255);
    scale: 1.2;
    transition: scale 0.3s ease-in-out;

}
.equipe-title-container{
    display: flex;
    justify-content: center;
}
.equipe-title{
    margin-top: 5%;
    font-family: Source Code Pro, monospace;
    font-size: 40px;
}
.equipe-title-2{
    margin-top: 10%;
    font-family: Source Code Pro, monospace;
    font-size: 40px;
}
.equipe-cube-logo{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
    opacity: 0;
    transform: rotatez(30deg);
}

.equipe-cards-4:hover .equipe-cube-logo {
    opacity: 0.9 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}
.equipe-gamejam-logo{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: rotateZ(15deg);
    opacity: 0;
}

.equipe-cards-1:hover .equipe-gamejam-logo {
    opacity: 0.6 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}
.equipe-cube-logo{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
    opacity: 0;
    transform: rotatez(30deg);
}

.equipe-cards-4:hover .equipe-cube-logo {
    opacity: 0.5 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}

.equipe-atelier-logo{
    width: 200px;
    position: absolute;
    top: 45%;
    left: 15%;
    opacity: 0;
}

.equipe-cards-2:hover .equipe-atelier-logo {
    opacity: 0.5 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}
.equipe-concours-logo{
    position: absolute;
    top: 10%;
    opacity: 0;
}

.equipe-cards-5:hover .equipe-concours-logo {
    opacity: 0.5 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}

.equipe-gamedev-logo{
    top: 50%;
    left: 35%;
    position: absolute;
    opacity: 0;
    z-index: 2;
}
.equipe-manette-logo{
    position: absolute;
    top: 60%;
    left: -10%;
    opacity: 0;
    transform: rotateZ(-25deg);
}
.equipe-cards-3:hover .equipe-gamedev-logo, .equipe-cards-3:hover .equipe-manette-logo  {
    opacity: 0.9 ; 
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out ;
}