.portfolio-container{
    height: 3000px;
    background-color: bisque;
}
.portfolio-card-2{
    border-radius: 10px;
    width: 700px;
    height: 650px;
    margin-top: 5%;
    background-color: #023049;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-card-1{
    border-radius: 10px;
    width: 700px;
    height: 650px;
    margin-right: 5%;
    display: flex;
    background-color: #023049;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.portfolio-list{
    padding-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio-image{
    border-radius: 10px;
    width: 650px;
    height: 400px;
    margin-top: 5%;
    object-fit: cover;
}
.portfolio-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-titre-image{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2%;
}
.portfolio-description{
    color: white;
    font-size: 18px;
    margin-left: 5%;
    width: 600px;
    overflow: hidden;
    height: 15%;
    text-align: justify;
    margin-top: 1%;
}

.portfolio-card-2{
    border-radius: 10px;
    width: 700px;
    height: 650px;
    margin-top: 5%;
    background-color: #023049;
    display: flex;
    flex-direction: column;
}


.portfolio-card-2:hover{
    
    transition: background-color ease-in-out 0.5s;
}