.tv-canvas-container{
    position: absolute;
    padding-left: 200px;
    padding-top: 120px;
    z-index: 5;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .tv-canvas-container{
        position: absolute;
        padding-left: 300px;
        padding-top: 100px;
        z-index: 5;
        width: 100%;
        height: 100%;
    }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
    .tv-canvas-container{
        position: absolute;
        padding-left: 30px;
        padding-top: 500px;
        z-index: 5;
        width: 400px;
        height: 50px;
    }

}