.container-navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #00141e;
    z-index: 1000;
}

.content{
    width: 100%;
    height: 80px;
    color: white;
    font-family: Brandon bld,sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    padding-left: 40%;
}
.icon{
    height: 12%;
    width: 12%;
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
    text-align:center;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
}

.info::after {
    content: '';
    position: absolute;
    bottom: 35%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease;
  }
  
  .info:hover::after {
    width: 100%;
    background-color: #ffe4c4;
  }
.nav-container{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

}
.hamburger-menu-logo{
    width: 40px;
}
.hamburger-menu{
    margin-right: 2%;
}
.navbar-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-button{
        z-index: 5;
        width: 50px;
        height: 50px;
        position: fixed;
        top:15px;
        left: 230px;
        background-color: transparent;
        border: none;
        cursor: pointer;
}
.hamburger-button:hover{
    transition: 0.3 ease-in;
    scale: 1.2;
}
.navbar-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    background: white;
    height: 1000px;
    bottom: 0;
    z-index: 2; 
}
.navbar-links{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: black;
    font-size: 24px;
}
.navbar-polygames-logo{
    position: fixed;
    width: 80px;
    top:15px;
    left: 300px;
}

@media (max-width: 767px) {
    .content {
        display: none;
    }
    .container-navbar{
        width: 430px;
    }
}