.container-commentaire{
    height: 1050px;
    width: 100%;
    background: linear-gradient(to top left, #00141e 40%, #012f47 );
    display: flex;
    flex-direction: row;

}

.commentaire-text{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: 16px;
    width: 80%;
    /* font-style: ; */
}
.commentaire-title{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bold;
}

.commentaire-nom{
    width: 800px;
    height: 40px;
    border-radius: 5px;
}
.commentaire-email{
    width: 800px;
    height: 40px;
    margin-top: 5%;
    border-radius: 5px;
}

.commentaire-form-text{
    height: 400px;
    width: 800px;
    margin-top: 5%;
    border-radius: 5px;
}
.commentaire-form{
    display: flex;
    flex-direction: column;
}
.commentaire-text-container{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.commentaire-form-container{
    margin-top: 10%;
    margin-right: 5%;
}
.commentaire-button{
    margin-top: 5%;
    width: 150px;
    height: 50px;
}
.commanditaire-image{
    height: 100px;
    width: 100px;
    border-radius: 5px;

    /* object-fit: cover; */
}
.commanditaire-image:hover{
    scale: 1.2;
    transition: scale ease-in-out 0.5s;
}
.commanditaire-title{
    margin-top: 30%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 5%;
    
}
.commanditaire-list{
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-top: 5%;
}
.commanditaire-image-doublestalion{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10%;
}
.commanditaire-image-doublestalion:hover{
    scale: 1.2;
    transition: scale ease-in-out 0.5s;
}