.valeur-container{
    background-color: #011018;
    height: 1300px;
}

.valeur-title{
    padding-top: 10%;
    padding-left: 15%;
    font-size: 60px;
    font-family: Source Code Pro, monospace;
    color: white;

}
.valeur-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

}
.valeur-card{
    width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.valeur-card-title{
    font-size: 40px;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 80%;
    color: white;
}
.valeur-card-title-container{
    height: 150px;
    justify-content: center;
}

.valeur-description{
    width: 105%;
    font-size: 18px;
    margin-top: 10%;
    overflow: hidden;
    text-align: center;
    color: white;

}
.valeur-image{
    width: 200px;
}
@media only screen and (max-width: 1460px) {
    .valeur-container{
        background-color: #011018;
        height: 1200px;
    }
    .valeur-title{
        font-size: 60px;
    }
    .valeur-card-title {
        padding-left: 5%;
        font-size: 48px;
        width: 300px;
    }

    .valeur-list-container {
        flex-direction: row;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .valeur-card {
        width: 100%;
        margin-bottom: 20px;
        height: 800px;
    }

    .valeur-description {
        width: 90%;
        font-size: 25px;
        height: 300px;
        margin-top: 10%;
        text-align: center;
    }
    .valeur-card-title-container{
        height: 150px;
    }
}
/* Media query for tablets */
@media only screen and (max-width: 1200px) {
    .valeur-container{
        background-color: #011018;
        height: 1200px;
    }
    .valeur-title{
        font-size: 60px;
    }
    .valeur-card-title {
        padding-left: 5%;
        font-size: 48px;
        width: 300px;
    }

    .valeur-list-container {
        flex-direction: row;
        align-items: center;
        margin-left: 1%;
        margin-right: 1%;
    }

    .valeur-card {
        width: 100%;
        margin-bottom: 20px;
        height: 800px;
    }

    .valeur-description {
        width: 90%;
        font-size: 23px;
        height: 300px;
        margin-top: 20%;
    }
    .valeur-card-title-container{
        height: 150px;
    }
}
@media only screen and (max-width: 820px) {
    .valeur-container{
        height: 3000px;
    }
    .valeur-title {
        padding-top: 5%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        padding-left: 0%;
    }
    .valeur-description{
        margin-top: 0%;
        font-size: 28px;
    }
    .valeur-list-container {
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
    }

    .valeur-card {
        width: 100%;
    }

    .valeur-card-title {
        font-size: 42px;
        width: 70%;
    }
    .valeur-list-container .valeur-card:first-child .valeur-image{
        margin-left: 7%;
    }
    .valeur-image{
        width: 300px;
    }
}
/* Media query for mobile phones */
@media only screen and (max-width: 550px) {
    .valeur-container{
        height: 2500px;
    }
    .valeur-title {
        padding-top: 5%;
        font-size: 42px;
    }
    .valeur-description{
        margin-top: 10%;
        font-size: 24px;
        text-align: center;
    }
    .valeur-card {
        width: 100%;
        margin-bottom: 20px;
        height: 700px;
    }
    .valeur-card-title {
        font-size: 38px;
        width: 80%;
    }
    .valeur-image{
        width: 170px;
    }
}

@media only screen and (max-width: 375px) {
    .valeur-title {
        padding-top: 5%;
        font-size: 40px;
    }
    .valeur-description{
        margin-top: 10%;
        font-size: 22px;
    }

    .valeur-card-title {
        font-size: 38px;
        width: 80%;
    }
}