.projet-container{
    width: 100%;
    height: 500vh;
    /* background: radial-gradient(circle,  #012132 30%, #00141e 100%); */
    background-color: white;
    position: relative;
    overflow: hidden;
}
.projet-padding{
    /* margin-top: 5%; */
}
.projet-progress-container{
    position: sticky;
    top:5%;
    left: 0;
    padding-top: 50px;
}

.project-progress-bar{
    height: 10px;
    background-color: #708090;
    width: 80%;
    margin-left: 10%;
 }
.projet-title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #E2725B;
    padding-top: 2%;
}
.projet-card-container{
    margin-top: 5%;
    margin-left: 15%;
    scroll-snap-type: center;
    z-index: 10;
}
.projet-card{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.projet-card-image{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}
.projet-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 600px;
    z-index: 10;
    margin-top: 2%;
}
.projet-card-title{
    text-align: left;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    z-index: 10;
}
.projet-card-description{
    color: rgb(0, 0, 0);
    margin-top: 2%;

    text-align: center;
    line-height: 1.4;
    z-index: 10;
    font-size: 18px;
}

.projet-bg-title{
    display: flex;
    justify-content: center;
    color: #ffedd7;
    font-size: 600px;
    z-index: 1;
    transform: rotateY(60deg);
}