.projet-container{
    width: 100%;
    height: 500vh;
    background-color: #012F47;
    position: relative;
}
.projet-padding{
    /* margin-top: 5%; */
}
.projet-progress-container{
    position: sticky;
    top:5%;
    left: 0;
    padding-top: 50px;
}

.project-progress-bar{
    height: 10px;
    background-color: #708090;
    width: 80%;
    margin-left: 10%;
 }
.projet-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #E2725B;
    padding-top: 2%;
}
.projet-card-container{
    margin-top: 5%;
    margin-left: 15%;
    scroll-snap-type: center;
}
.projet-card{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
}
.projet-card-image{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.projet-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 5%;
}
.projet-card-title{
    text-align: left;
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.projet-card-description{
    color: white;
    margin-top: 2%;
}